<div class="col-md-8 start-timer">

	<timer></timer>
	
</div>

<section class="col-md-4 tasks">
	<h3 class="task-title">Completed Tasks!</h3>
	<form>
		<input type="text" placeholder="Write your completed task here..." class="form-control task-input" ng-model="vm.completedTask">
		<button class="btn btn-primary task-button" type="button" ng-click="vm.addTask()"><strong>+</strong> Add Completed Task!</button>
	</form>
	
	<div class="task-list">
		<div ng-repeat="task in vm.tasks | orderBy: '-dateTime'">
			<p class="task-items">- {{ task.taskName }}</p>
		</div>
	</div>
</section>

